{% extends 'layout.html' %}

{%block content %}
        <section class="header">
            <h1>Mitch Reddoch</h1>
            <p>Currently freelance writing Python programs and working on my own projects</p>
            <img src="https://www.digitalguardiannm.com/-_-/res/a50db78a-e197-46e3-bd8b-43c5f1f6766b/images/files/a50db78a-e197-46e3-bd8b-43c5f1f6766b/5d21964e-23a7-4045-bece-d29fe90d91b5/400-533/fa001704be840df89bfd1cbc353f39e8f96164e0" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>Accomplished IT Technician, Programmer in the works. </h2>
            <ul>
                <li>
                    <p>Offensive Security Network Penetration Testing Essentials <a href="https://www.credential.net/a63a65db-c94a-46df-8977-d8bc79e1f18d">Security Network Penetration Testing Badge</a>.</p>
                </li>
                <li>
                    <p>Offensive Security Wireless Professional (Wireless Hacking) <a href="https://www.credential.net/98cb06c3-f7f5-4810-afdc-3a6d16091a5b">OSWP Certification</a></p>
                </li>
                <li>
                    <p>Kali Linux Certified Professional <a href="https://www.credential.net/cfd5e509-dcf9-48b0-8ef3-f776fb7039e9">KLCP certification</a></p>
                </li>
                <li>
                    <p>CompTIA A+<a href="https://www.credly.com/badges/097dec8f-2d19-45b2-83d0-872d4e31be1e/linked_in_profile">A+ Certification</a></p>
                </li>
                <li>
                    <p>PCEP<a href="https://www.credly.com/badges/685609fe-e9b0-4616-8fbe-79b44eca4f1f?source=linked_in_profile">PCEP Certification</a></p>
                </li>
            </ul>
          <a href="https://1drv.ms/w/s!AiZHh4A-P7SMg_sPABUaJoq6xWoEDw?e=1XUnCF"><i class="far fa-file"></i>Resume</a>
        </section>
 {% endblock %}