{% extends 'layout.html' %}

{%block content %}
        <section class="header">
            <h1>Python Developer</h1>
            <p>I love coding because it stimulates my own creativity to build useful tools, and solve real world problems'.</p>
            <img src="https://www.digitalguardiannm.com/-_-/res/a50db78a-e197-46e3-bd8b-43c5f1f6766b/images/files/a50db78a-e197-46e3-bd8b-43c5f1f6766b/c05ce2d3-7b31-4fba-bcab-078efd2f9717/480-502/db462cc5bdaa8ca6841d46aa261b0f22eb1a6549" alt="Headshot of myself">
        </section>
        <section id="about">
            <h2>About Me</h2>
            <p>
                After leaving the golf industry in 2018, I embarked on a new career journey, 
                earning my CompTIA A+ certification and transitioning into the IT field as a Technician in early 2019. 
                My introduction to Python occurred that same year, culminating in my success in the Python Certified Entry-Level 
                Programmer certification exam. Thriving in the IT realm, I consistently excelled and advanced 
                within the companies I served.
            </p>
            <p>
                In late August of 2022, my passion to learn more ignited, leading me to pursue online courses in offensive 
                security (hacking). During this immersive learning experience, I further honed my Python skills while acquiring 
                additional certifications from OffSec. I quickly began to find Python so useful and after passing the Network 
                Penetration Testing Essentials, I made Python the focal point of my professional aspirations.
            </p>
            <div id="triangle1"></div>
            <div id="triangle2"></div>
        </section>
        <section id="skills">
            <i class="fas fa-laptop-code"></i>
            <h2>Skills</h2>
             <ul class="project-skills">
                <div>
                    {% for skill in combined_skills %}
                    <li>{{ skill }}</li>
                    {% endfor %}
                 </div>
            </ul>
        </section>
        <section id="projects">
            <div id="triangle3"></div>
            <i class="fas fa-file-code"></i>
            <h2>Projects</h2>
            {% for project in projects %}
            <div id="project-list">
                <div id="project1" class="a-project">
                    <h3>{{ project.title }}</h3>
                    <a href="{{ project.url }}" class="github-btn">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{ project.description }}
                    </p>
                    <p>  
                     {{ project.skills }}
                    </p> 
                </div>
                {% endfor %}
        </section>
        <section id="contact">
            <i class="fas fa-paper-plane"></i>
            <h2>Contact Me</h2>
            <p>
                Feel free to contact me at the email below.
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                mitch77redd@gmail.com
            </p>
        </section>
{% endblock %}